[submodule "stm32f4"]
	path = stm32f4
	url = https://github.com/erikvanhamme/stm32f4.git
[submodule "ecpp"]
	path = ecpp
	url = https://github.com/erikvanhamme/ecpp.git
[submodule "buildscripts"]
	path = buildscripts
	url = https://github.com/erikvanhamme/buildscripts.git
[submodule "ecppstm32"]
	path = ecppstm32
	url = https://github.com/erikvanhamme/ecppstm32
[submodule "stm32f3"]
	path = stm32f3
	url = https://github.com/erikvanhamme/stm32f3
